body {
  padding-bottom: 125px;
}

/*
LOOKS REALLY UGLY, TURN ON AT YOUR OWN RISK
.dropdown-labels {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
}
.dropdowns {
  position: fixed;
  top: 75px;
  width: 100%;
  background-color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
*/

.legend-footer {
  overflow-y: scroll;
  border-top: 1px solid black;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: white;
}

.hidden {
  visibility: hidden
}

.details {
  position: fixed;
  right: 0px;
  width: 25%;
}
/*
.group {
  overflow-x: scroll;
  white-space: nowrap;
}*/